source/*
static/.DS_Store
*/__pycache__/*
src/codex_query_generator/__pycache__/*
data/in.c_termsheets.termsheets_in_markdown.csv
src/.DS_Store
*/.DS_Store
*.pyc
*.csv
*.csv.gz
data/termsheets_in_markdown
